<main class="container">
  <div class="header">
    <h1>Backlogs</h1>
    <%= link_to "New backlog",
                new_backlog_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @backlogs %>
</main>