<main class="container">
  <%= link_to sanitize("&larr; Back to backlogs"), backlogs_path %>

  <div class="header">
    <h1>New backlog</h1>
  </div>

  <%= render "form", backlog: @backlog %>
</main>